@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
    /* display: inline-flex; */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1);
    opacity: 1;
    /* display: inline-flex; */
  }
  99% {
    transform: scale(0);
    opacity: 0;
    /* display: none !important; */
  }
  100% {
    display: none;
  }
}

html {
  scroll-behavior: smooth !important;
}

.btn {
  @apply py-2 px-4 rounded;
}

.btn-default {
  @apply font-semibold opacity-50;
}
.btn-default:hover {
  @apply opacity-100;
}
.btn-primary {
  @apply bg-blue-500 text-white;
}
.btn-primary:hover {
  @apply bg-blue-700;
}

.container {
  @apply py-16 px-10 max-w-screen-xl mx-auto;
}
footer .container {
  @apply pt-0 pb-0 px-10;
}

.pop-in-card {
  animation-name: pop-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.pop-out-card {
  animation-name: pop-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
